from core.models import Cliente


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django - Clientes</title>
</head>
<body>
    <center>
        <h1>I n d e x</h1>
    </center>    
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in Clientes %}
            <tr>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.preco }}</td>
                <td>{{ cliente.estoque }}</td>
            </tr>
        {% endfor %}
        <tbody>
    </table>    
</body>
</html>